#album-summary-container {
    margin-top:1%;
	height:17em;
	overflow:auto;
	overflow-x:hidden;
	text-align:left;
    font-size:80%;
    box-shadow: 0 4px 8px 0 rgba(221, 12, 12, 0.2), 0 3px 20px 0 rgba(231, 0, 0, 0.945);
    padding:1%;
}

.album-buttons {
    background-color: #bb0000;
    border-color:#bb0000;
    font-size:90%;
    width:10em;
    font-family:verdana
}
.album-buttons :hover{
    background-color:#FFF;
    border-color:#bb0000;
}

.custom-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: rgba(5, 0, 0, 0);
    border-radius: 10px;
    opacity:0
}

.custom-scrollbar::-webkit-scrollbar
{
	width: 10px;
    background-color: rgba(0, 0, 0, 0.199);
    opacity:0
}

.custom-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.199);
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#bb0000),
									   to(#bb0000),
									   color-stop(.6,#bb0000))
}