$brand-primary:              #5fd5f6 !default;
// $brand-info:                 $cyan-500 !default;
// $brand-success:              $teal-300 !default;
// $brand-warning:              $orange-500 !default;
// $brand-danger:               $red-500 !default;

$lastfm-primary:            #bb0000 !default;
$lastfm-secondary:          #dee2e6 !default;

$musixmatch-primary:        #fd583c !default;
$musixmatch-secondary:      #fb4049 !default;
$musixmatch-tertiary:       #fed1d1 !default;

//App colors
// export const COLOR_PRIMARY = "#5fd5f6";
// export const COLOR_SECONDARY = "";
// export const TEXT_COLOR_PRIMARY = "#FFFFFF";
// export const TRANSPARENT_BLACK = "rgba(0, 0, 0, 0.8)";


