.App-footer {
    height:6em;
    width:100%;
    padding:20px;
    position:relative;
    background-color:rgb(4, 5, 8);
    /* background: linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.8)
    ); */
    margin:0
    /* bottom:0 */
  }

  .footer-item{
    font-size:90%;
  }