#bio-title-container{
	text-align:left
}
#bio-published{
	font-size: 90%;
	font-style: italic
}
#bio-content-container{
	margin-top:1%;
	height:20em;
	overflow:auto;
	overflow-x:hidden;
	text-align:left;
	font-size:80%
}
