#tabs-container{
    border-bottom: 1px solid #dee2e6;
    color:white
}

.tabs-item .nav-link.active{
    color: white;
    background-color: #bb0000;
    border-color: #bb0000 #bb0000 #dee2e6;
}

.tabs-item .nav-link:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
    cursor: pointer;
}

.data-list-container {
    margin-top:2%;
    max-height:18em;
    overflow:auto;
    /* background-color: rgba(0, 0, 0, 0.8); */
}

.data-list {
    background-color: rgba(0, 0, 0, 0.514);
    color:#FFF;
    height:4em;
    font-size:90%;
    padding-top:1%
}

.data-img-container {
    height:100%;
}
.data-text-container {
    padding-top:5%;
    text-align:left
}

.list-group-item-action:focus, .list-group-item-action:hover{
    color:#FFF;
    background-color: #bb0000a8
}

.data-list-container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgba(0,0,0,0.3);
}

.data-list-container::-webkit-scrollbar
{
	width: 6px;
    background-color: rgba(0,0,0,0.3);
}

.data-list-container::-webkit-scrollbar-thumb
{
	background-color: #dee2e6;
}


