@import "assets/scss/_shared.scss";

#tabs-container{
    border-bottom: 1px solid $lastfm-secondary;
    color:white
}

.tabs-item .nav-link.active{
    color: white;
    background-color: $lastfm-primary;
    border-color: $lastfm-primary $lastfm-primary $lastfm-secondary;
}

.tabs-item .nav-link:hover {
    border-color: #e9ecef #e9ecef $lastfm-secondary;
    cursor: pointer;
}

.data-list-container {
    margin-top:2%;
    max-height:18em;
    overflow:auto;
    overflow-x:hidden;
}

.data-list {
    background-color: rgba(0, 0, 0, 0.514);
    color:#FFF;
    height:4em;
    font-size:90%;
    padding-top:1%
}

.data-img-container {
    height:100%;
}
.data-text-container {
    padding-top:5%;
    text-align:left
}

.list-group-item-action:focus, .list-group-item-action:hover{
    color:#FFF;
    background-color: #bb0000a8
}


